.vs/OneDriveProject/v15/.suo
*.dll
OneDriveProject/bin/
OneDriveProject/obj/
packages/
.vs/
OneDriveProject.Logic/obj/
OneDriveProject.Logic/bin/
OneDriveProject.Data/obj/Debug/OneDriveProject.Data.csproj.FileListAbsolute.txt
OneDriveProject.Data/obj/
